@import '../../customs.module.css';

.product-page-logos{
    grid-auto-flow: row;
    justify-items: center;
  }
  .company-icon{
    width: var(--size-900);
  }
  
  .product-page{
    background-color: var(--clr-accent-400);
    display: flex
  }
  .product-page-secondary{
    background-color: var(--clr-accent-100);
  }
  .width-low{
    width: 15em;
    color: aliceblue;
    overflow: hidden;
    place-self: center;
  }

  @media (max-width: 960px){
  .width-low {
    width: 100vw;
    order: 1;
    text-align: -webkit-center;

  }
}
.company-list{
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content:center
}
.center{
  justify-items: center;
}
.quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
}
.revert{
  order:1;
  color: var(--clr-primary-400);

}